* {
  box-sizing: border-box;
}


body {
  min-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-exc {
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.coat {
  max-width: 100px;
  max-height: 60px;
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
  right: 3.5%;

}

.user {
  max-width: 35px;
  max-height: 35px;
  padding: 5px;
}

.vl {
  border-left: 1px solid #dadada;
  height: 100%;
  margin-right: 10px;
}

.lang {
  font-weight: bold;
  padding: 5px;
  position: relative;
  font-size: 0.8rem;
}

.user-inf-exc {
  display: flex;
  align-items: center;
}

.coat-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}

.menu-exc {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.title-exc {
  background-color: #dadada;
  height: 25vh;
  min-width: 100%;
  color: black;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title-text {


}

.menu-bar-exc {
  width: 6%;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1px;
  height: 30px;
}

.subtitle {
  font-size: 1.3rem;

}

.like-img {
  width: 25px;
  height: 25px;
}

.share-img {
  width: 25px;
  height: 25px;
}

.text-holder {
width: 100%;
text-align: center;
}

.basic-exc {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
}

.basic-placeholder {
  /* margin-left: 30px; */
  margin: 20px 10px 30px;
  width: 320px;
  border: 1px solid #dadada;
  border-bottom: none;
}

.photo-holder {
  align-items: center;
  display: flex;
}

.photo-exc {
  /* width: 100%;
  height: auto; */
  width: 100%;
  max-width: auto;
  height: 280px;
}

.text-box {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 300px;
}

.buy {
  background-color: #f19106;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.buy-text {

}

.like {
  width: 70px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share {
  width: 70px;
  border: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
font-weight: 500;
margin-left: 10px;
}

.theater-exc {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.pre-buttons {
  display: flex;
  align-items: center;
}

/* .first-raw {
  display: flex;
  justify-content: center;
}

.second-raw {
  display: flex;
  justify-content: center;
} */
.unlock {
  background-color: #e6342a;
  color: white;
  margin-left: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

/* .un-but {
  width: 65%;
  text-align: center;
} */

.main-exc {
  display: block;
}

.sub-div1 {
  /* display: flex;
  justify-content: center; */
  }

.sub-div2 {
  /* display: flex;
  justify-content: center; */
}



/*---------------Minified placeholder---------------*/
.buttons-min {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1px;
  height: 30px;
}


.like-img-min {
  width: 25px;
  height: 25px;
}

.share-img-min {
  width: 25px;
  height: 25px;
}

.text-holder-min {
width: 100%;
text-align: center;
}

.text-box-min {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 200px;
}

.basic-placeholder-min {
  margin: 20px 10px 30px;
  width: 200px;
  border: 1px solid #dadada;
  border-bottom: none;
}

.photo-holder-min {
  align-items: center;
  display: flex;
}

.photo-exc-min {
  width: 100%;
  height: auto;
}

.like-min {
  width: 100px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-min {
  width: 100px;
  border: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-exc-min {
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  display: flex;
  flex-wrap: wrap;
}

/*----------------------Comments--------------*/

.name-comments {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.username-com {
  padding-right: 10px;
}

.text-comments {
  font-size: 0.7rem;
  padding-left: 10px;
}

/* .description-text {
  margin-left: 10px;
} */



/*-----------------Buy excursion---------*/

.buy-excursion {
  position: fixed;
  background-color: white;
  right: 10%;
  top: 25%;
}

.side-block {
  position: absolute;
  background-color: white;
  right: 10%;
  top: 25%;
}

.side-block.side-block-fixed {
  position: fixed;
}

.desc-options {
  text-align: center;
}

.square-hex {
  color: orange;
  padding-right: 5px;
  }


/*---------------------Special excursion---------------*/

.basic-placeholder-spc {
  width: 320px;
  border: 1px solid #dadada;
  border-bottom: none;
  margin: 0 auto;
}

.main-exc-buy {
  display: block;
  width: 70%;
}

.buy-spc {
  /* background-color: #f19106; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 3px solid #f19106;
}

.text-box-spc {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 318px;
  border-bottom: 1px solid #dadada;
}

.test-exc {
  display: flex;
}

/*-----------Food----------*/
.basic-exc-food {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
}

/*map*/
.basic-placeholder-map {
  border: 1px solid #dadada;
  border-bottom: none;
  margin: 0 auto;
}
.buy-map {
  background-color: #f19106;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* border: 3px solid #f19106; */
}

.description-text-place {
  width: 300px;
  padding-left: 5px;
}

.subtitle-place {
  font-size: 1.5rem;
  padding-left: 5px;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  display: flex;
  flex-wrap: wrap;
}

.photo-gallery {
  margin: 10px;
  width: 200px;
}


/*--------------Counter----------------*/

.buy-holder-counter-cost {
  display: flex;
  justify-content: space-around;
}

.buy-holder {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-holder-image {
}

.buy-holder-textblock {
  display:block;
  /* border: 1px solid black; */
  /* height: 300px; */
  padding: 0 10px 0;
}

.buy-holder-counter-button {
  width: 200px;
  height: 40px;
  display: block;
  margin: 0 auto;

  /* position: relative;
  bottom: 10%; */
}

.buy-holder-counter-cost {
  display: flex;
  justify-content: space-between;
}

.buy-holder-counter-cost-left {
  display: flex;
  align-items: center;
}

.buy-holder-counter-cost-right {
  display: flex;
  align-items: center;
}

.buy-holder-counter-cost-left-text {
  padding-left: 10px
}

/* .buy-holder-image-photo {
  min-width: 400px;
  max-width: 100%;
  height: auto;
} */

.amount {
  text-align: center;
  width: 30px;
}

.buy-amount {
  margin-right: 40px;
}

.buy-holder-counter {
  /* margin-top: 45px; */
  position: relative;
  top: 13%;
}

.buy-holder-description {
  /* width: 50%; */
    border-bottom: solid 1px #dadada;
    padding-bottom: 10px;
}

.buy-holder-titleCost {
  display: flex;
  justify-content: space-between;

  /* width: 250px; */
}

.buy-holder-element {
  margin-top: 0;
}


.buy-holder-title {
  /* width: 170px; */
}

.buy-holder-cost {
}

.buy-holder-link {
  text-decoration: none;
  color: black;
}

.buy-holder-link:hover {
  color: #dadada;
}

.plus {
padding: 3px;
font-size: 1.5rem;
user-select: none;
color: #f19106;
}

.minus {
  padding: 3px;
  font-size: 2rem;
  user-select: none;
  color: #f19106;
}


.plus:hover {
  cursor: pointer;
}

.minus:hover {
  cursor: pointer;
}

@media (min-width: 1281px) and (max-width: 1384px) {
  /* .buy-holder {
  width: 60%;
  } */

  .buy-holder-image-photo {
    width: 400px;
    height: 255px;
  }

  .buy-holder-counter {
    top: 0;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {

  .buy-holder {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 15px;
  }

  /* .buy-holder-image-photo {
    width: 400px;
    height: 300px;
  } */

  .buy-holder-counter {
    top: 0;
  }


  .buy-excursion {
  position: relative;
  background-color: white;
  right: 0;
  top: 0;
  }
  .test-exc {
    display: block;
  }
  .main-exc-buy {
    display: block;
    width: 100%;
  }
  .basic-placeholder-spc {
    margin: 0 auto;
  }
  .gallery {
    width: 700px;
    justify-content: center;
  }
  .side-block.side-block-fixed {
  position: relative;
  background-color: white;
  right: 0;
  top: 0;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  }
  .description-text-place {
    width: 100%;
  }
}

.product-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.product-cost {
  text-align: center;
  font-size: 1.05rem;
  color: #f19107;
}

@media (max-width: 1024px) {

  .buy-holder {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 15px;
  }

  /* .buy-holder-image-photo {
    width: 400px;
    height: 255px;
  } */

  .buy-holder-counter {
    top: 0;
  }

  .buy-holder-titleCost {
    display: flex;
    justify-content: space-between;

    /* width: 250px; */
  }


  .text-box {
    width: auto;
  }

  .basic-exc {
    width: 720px;
  }

  .basic-exc-food {
    width: 100%;
    justify-content: center;
  }

  .basic-placeholder {
    width: 360px;
  }

  .basic-placeholder-min {
    width: 200px;
  }

  .buy-excursion {
  position: relative;
  background-color: white;
  right: 0;
  top: 0;
  }
  .test-exc {
    display: block;
  }

  .basic-placeholder-spc {
    margin: 0 auto;
  }
  .main-exc-buy {
    display: block;
    width: 100%;
  }

  .basic-exc-min {
    display: block;
    width: 100%;
  }

  .basic-placeholder-min {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .description-text {
    padding: 30px;
  }

  .side-block.side-block-fixed {
  position: relative;
  background-color: white;
  right: 0;
  top: 0;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  }

  .description-text-place {
    width: 100%;
  }

  .gallery {
    width: 500px;
    justify-content: center;
  }
}
