* {
  box-sizing: border-box;
}


body {
  min-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-exc {
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.coat {
  max-width: 100px;
  max-height: 60px;
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
  right: 3.5%;

}

.user {
  max-width: 35px;
  max-height: 35px;
  padding: 5px;
}

.vl {
  border-left: 1px solid #dadada;
  height: 100%;
  margin-right: 10px;
}

.lang {
  font-weight: bold;
  padding: 5px;
  position: relative;
  font-size: 0.8rem;
}

.user-inf-exc {
  display: flex;
  align-items: center;
}

.coat-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}

.menu-exc {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.title-exc {
  background-color: #dadada;
  height: 25vh;
  min-width: 100%;
  color: black;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title-text {


}

.menu-bar-exc {
  width: 6%;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1px;
  height: 30px;
}

.subtitle {
  font-size: 1.3rem;

}

.like-img {
  width: 25px;
  height: 25px;
}

.share-img {
  width: 25px;
  height: 25px;
}

.text-holder {
width: 100%;
text-align: center;
}

.text-box {
  height: 50px;
  width: 300px;
}

.basic-exc {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
}

.basic-placeholder {
  /* margin-left: 30px; */
  margin: 20px 10px 30px;
  width: 320px;
  border: 1px solid #dadada;
  border-bottom: none;
}

.photo-holder {
  align-items: center;
  display: flex;
}

.photo-exc {
  width: 100%;
  height: auto;
}

.text-box {
  align-items: center;
  justify-content: center;
  display: flex;

}

.buy {
  background-color: #f19106;
  /* width: calc(100% - 70px - 70px); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.buy-text {

}

.like {
  width: 70px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share {
  width: 70px;
  border: 1px solid #c6c6c6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
font-weight: 500;
margin-left: 10px;
}

.theater-exc {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.pre-buttons {
  display: flex;
  align-items: center;
}

/* .first-raw {
  display: flex;
  justify-content: center;
}

.second-raw {
  display: flex;
  justify-content: center;
} */
.unlock {
  background-color: #e6342a;
  color: white;
  margin-left: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

/* .un-but {
  width: 65%;
  text-align: center;
} */

.main-exc {
  display: block;
}

.sub-div1 {
  /* display: flex;
  justify-content: center; */
  }

.sub-div2 {
  /* display: flex;
  justify-content: center; */
}

@media (max-width: 1024px) {

  .basic-exc {
    width: 720px;
  }

  .basic-placeholder {
    width: 360px;
  }

}
